@charset "UTF-8";

@media screen and (min-height: 600px) and (max-height: 800px){
    div#card {
        height: 90vh;
    }
}

@media screen and (min-height: 801px) {
    div#card {
        height: 750px;
    }

    div#card > h1 {
        padding: 40px;
    }
}

@media screen and (orientation: landscape) {
    div#card {
        margin:auto;
    }
}